.Card{
    
    border: 5px solid; 
    color: white;
    margin: 15px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 280px;
}

.Card .Title{
    padding: 3px;
    display: flex;
    justify-content: center;
}

.Card .Content{
    background-color: antiquewhite;
    color: black;
    padding: 3px;
    line-height: 5px;
    flex-grow: 1;
}
